/* Windows native title buttons */
@media (-moz-platform: windows) {
	#navigator-toolbox #nav-bar {
		padding-inline-start: calc(var(--toolbar-start-end-padding) / 2) !important;

		@media not -moz-pref("sidebar.verticalTabs") {
			:root[privatebrowsingmode=temporary] & {
				padding-inline-start: calc(var(--toolbar-start-end-padding) / 2) !important;
			}
		}
	}

	.titlebar-buttonbox-container .titlebar-button {
		margin: 4px 6px !important;
		padding: 4px !important;
		border-radius: var(--border-radius-xsmall) !important;
		background: none !important;

		&.titlebar-close {
			list-style-image: url("../assets/macos_controls/close.svg") !important;

			.titlebar-buttonbox:hover & {
				list-style-image: url("../assets/macos_controls/close-hover.svg") !important;

				&:active {
					list-style-image: url("../assets/macos_controls/close-active.svg") !important;

					@media (prefers-color-scheme: dark) {
						list-style-image: url("../assets/macos_controls/close-active-dark.svg") !important;
					}
				}
			}
		}

		&.titlebar-min {
			list-style-image: url("../assets/macos_controls/minimize.svg") !important;

			.titlebar-buttonbox:hover & {
				list-style-image: url("../assets/macos_controls/minimize-hover.svg") !important;

				&:active {
					list-style-image: url("../assets/macos_controls/minimize-active.svg") !important;

					@media (prefers-color-scheme: dark) {
						list-style-image: url("../assets/macos_controls/minimize-active-dark.svg") !important;
					}
				}
			}
		}

		&.titlebar-max {
			list-style-image: url("../assets/macos_controls/maximize.svg") !important;

			.titlebar-buttonbox:hover & {
				list-style-image: url("../assets/macos_controls/maximize-hover.svg") !important;

				&:active {
					list-style-image: url("../assets/macos_controls/maximize-active.svg") !important;

					@media (prefers-color-scheme: dark) {
						list-style-image: url("../assets/macos_controls/maximize-active-dark.svg") !important;
					}
				}
			}
		}

		&.titlebar-restore {
			list-style-image: url("../assets/macos_controls/maximize.svg") !important;

			.titlebar-buttonbox:hover & {
				list-style-image: url("../assets/macos_controls/restore-hover.svg") !important;

				&:active {
					list-style-image: url("../assets/macos_controls/restore-active.svg") !important;

					@media (prefers-color-scheme: dark) {
						list-style-image: url("../assets/macos_controls/restore-active-dark.svg") !important;
					}
				}
			}
		}
	}

	.titlebar-buttonbox-container .titlebar-button:-moz-window-inactive {
		list-style-image: url("../assets/macos_controls/backdrop.svg") !important;

		@media (prefers-color-scheme: dark) {
			list-style-image: url("../assets/macos_controls/backdrop-dark.svg") !important;
		}
	}

	@media not -moz-pref("sidebar.verticalTabs") {
		#PanelUI-menu-button {
			:root:not([inFullscreen]) & {
				margin-inline-end: calc(96px + var(--toolbar-start-end-padding) + var(--toolbarbutton-outer-padding)) !important;
			}
		}

		.titlebar-buttonbox-container  {
			position: absolute;
			inset-inline-end: 0;
			inset-block-start: calc(var(--theme-browser-toolbox-padding) + (var(--urlbar-min-height) - 28px) / 2);

			:root[inFullscreen] & {
				display: none;
			}
		}
	}
}
